<!DOCTYPE html>
<html lang="en">
{% extends "MASTER.html"%}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block title %}
    My Library
{% endblock %}

{% block content %}
<h1> MY LIBRARY </h1>

<h3> Members </h3>

<p>cHECK OUR <a href="members/">members</a></p>

<p>cHECK OUR <a href="testing/">MIVE HA</a></p>

<p>AA <a href="https://www.digikala.com/search/category-gold-jewelry/">DIGI KALA</a></p>

<p>cHECK OUR <a href="admin/">admin</a></p>



{% endblock %}

{% include 'footer.html' %}


</body>
</html>